@charset "utf-8";
body{
    background-color: #FFFFCC;
}
.linux img{
    height: 130px;
    width: 190px;
    float: right;
}
h1{
    text-align: center;
}
.jyuyou{
    border-bottom: 2px solid blue;
}
